<div *ngIf="isProcessing">
    <lightbox [loading]="isProcessing" [loaderMessage]="'loading...'"></lightbox>
</div>
<div *ngIf="showMessageBanner">
    <message-banner [type]="messageBannerType" [message]="bannerMessage" (onMessageBannerClose)="onNotificationClose($event)"> </message-banner>
</div>
<div>
    <div class="page-header"><h2>Audit History</h2></div>
    <div class="row dashboard-filter m-0 mb-4">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <label>Document Name</label>
                    <input class="form-control" type="text" [(ngModel)]="searchTerm" name="txtContent" />
                </div>

                <div class="d-flex align-items-end">
                    <input class="btn btn-primary" type="button" (click)="showAuditLog()" value="Show Log" title="Show Log" />
                </div>

                <div class="d-flex align-items-end ml-2">
                    <input class="btn btn-secondary" type="button" (click)="resetAuditLogs(true)" value="Reset" title="Reset" />
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showContentSummary" class="table-responsive">
    <table class="table custom-table table-bordered" infinite-scroll
           [scrollWindow]="true"
           [infiniteScrollDistance]="scrollDistance"
           [infiniteScrollThrottle]="throttle"
           (scrolled)="onAuditLogScrollDown()"
           [infiniteScrollDisabled]="isFullyAuditContentLoad">
        <thead class="thead-light">
            <tr>
                <th class="td-w-15">
                    Document Name
                </th>

                <th class="td-w-20">
                    Document Url
                </th>

                <th>
                    Content Type
                </th>
                <th>
                    Doc Id
                </th>
                <th>
                    Event Date
                </th>
                <th>
                    Compliance Tag
                </th>
                <th>
                    Complaince Asset Id
                </th>

                <th>
                    Created On
                </th>
                <th>
                    ADG status
                </th>
                <th>
                    ADG Event Created On
                </th>
            </tr>
        </thead>
        <tr *ngFor="let rowData of auditLogs">
            <td>
                {{rowData.documentName}}
            </td>

            <td>
                {{rowData.docUrl}}
            </td>

            <td>
                {{rowData.contentType}}
            </td>
            <td>
                {{rowData.docId}}
            </td>

            <td>
                {{rowData.eventColumnValue  | date:'MM/dd/yyyy'}}
            </td>
            <td>
                {{rowData.complianceTag}}
            </td>
            <td>
                {{rowData.complainceAssetId}}
            </td>

            <td>
                {{rowData.createdOn | date:'MM/dd/yyyy'}}
            </td>
            <td>
                {{loadAdgStatus(rowData.processStatus,rowData.processDescription) }}
            </td>
            <td>
                {{rowData.eventCreatedDate | date:'MM/dd/yyyy'}}
            </td>
        </tr>
    </table>
</div>


