<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AdminUserId" value="sumit.jain@rsystems.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AdminPassword" value="bb466cbb-621c-493b-8374-6c8f26dc6a18" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AdminApiUrl" value="https://rsystems-colligormoadminapi.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EncryptionKey" value="12345678910111213" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FromAddress" value="colligo-updraft@outlook.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Subject" value="Failed to update ADG" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SendGridKey" value="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"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADGUpdateIntervalInMinute" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>   
  </appSettings>
</configuration>