<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ida:ClientId" value="cbb622db-ff67-457e-b08a-1d95bb2ddd78" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ida:Audience" value="cbb622db-ff67-457e-b08a-1d95bb2ddd78" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ida:appKey" value="tbjkZoSinkRX1Hy0q/eiq9xn3p8jW+DhVEi/wPN3lig=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="rmo:Version" value="1.0.0.0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SPServiceAPIUrl" value="https://rsystems-colligormospserviceapi.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="sessionUrl" value="https://stage.colligoapp.com/v1/session" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="siteUrl" value="https://rsystems-colligormoweb.azurewebsites.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AdminAPIUrl" value="https://rsystems-colligormoadminapi.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EncryptionKey" value="12345678910111213" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>  
  </appSettings>

  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>